body{
    background: greenyellow;
    margin-left: 20px;
}
batman{color:black}
superman{color:blue}

h1{
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.img_padrao{
    margin-bottom: 20px;
    width: 300px;
}

.logo{
    width: 50px;
}